.autoComplete__container{
    border:1px solid;
    border-radius: 0px 0px 7px 7px;
    padding: 10px;
    
}

.autoComplete__container li{
list-style-type: none;
padding: 5px 20px;

}

.autoComplete__container li:hover{
    background-color: rgba(0,0,0,0.3);
    transition: 500ms ease-in-out;
}