.searchBar__container {
    max-height: 3vw;
}
.searchBar__element{
    width: 60vw;
    height: 3vw;
    padding: 2vh 10vh 2vh 2vh;
border-width: 0px;
    border-right: 0px;
    outline: none;
}

.searchBar__category_menu{
    width: 30px;
        height: 3vw;

}
.searchbar__search_button{
    height: 3vw;
}
