.searchBar__container {
    
    display: flex;
    justify-content: start;
    
}

.searchBar__element{
    width: 45vw;
    height: 41px;
    padding: 2vh 10vh 2vh 2vh;
border-width: 0px;
    border-right: 0px;
    outline: none;
}


.searchbar__search_button{
    height: 41px;
}
